@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
.App{
  
}

* {
  background-color: #282c34;
  margin: 0;
  font-family: "Quicksand";
  color: white;
  font-weight: 1000;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 1rem auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #58c4dc;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: green;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.changeColour{
  display: inline;
  color: #58c4dc;
}

.changeColour:hover{
  color: aqua;
}

.greet{
  text-align: center;
  margin: 2rem;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #58c4dc;
}
.blog-preview h2 {
  font-size: 20px;
  color: #58c4dc;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.delete{
  display: flex;
  margin-left: auto;
}

.blog-details h2{
  font-size: 2rem;
  color: #58c4dc;
  margin-bottom: 1.5rem;
}

.blog-details p{
  color: aqua;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse
}

.blog-details button {
  background: #58c4dc;
  color: #fff;
  border: 0;
  margin: 1rem;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.notFound h2{
  margin: 1rem;
}

.notFound p{
  margin: 1rem;
}



/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #58c4dc;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #58c4dc;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

